logs/
merge_scripts/
target/

# Ignore everything in data/ except .pickle files
data/*
!data/*.pickle
!data/*.png

caches/
slimpajama/scan*
slimpajama/queries

config_local.py

*.pyc
**/__pycache__/
.python-version
Cargo.lock
